section#brands {
  background-color: var(--surface-900);

  display: flex;
  justify-content: space-between;
  gap: 30px;

  padding: 75px;

  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;

  img {
    width: 80px;
    height: 40px;
  }
}
