section#brands {
  background-color: var(--surface-900) !important;

  justify-content: space-between;
  display: flex;
  gap: 30px;

  padding: 75px;

  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;

  img {
    height: 25px;
  }
}
