section#brands {
  background-color: #ffffff;
  padding: 75px;
  display: flex;
  gap: 30px;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
  justify-content: space-between;

  img {
    width: 80px;
    height: 40px;
  }
}
