section#collaborate {
  padding: 86px;

  justify-content: center;
  justify-items: center;
  display: grid;

  h2 {
    background-color: var(--surface-800);
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
  }
  .line {
    color: black;
  }
  h3 {
    display: flex;
    background-color: var(--surface-900);
    border-radius: 999px;
    padding: 10px 64px;
  }
  img {
    justify-content: space-between;
    display: flex;
    padding: 32px;
    height: 86px;
  }
  h4 {
    justify-content: space-between;
    gap: 16px;
  }
  h5 {
  }
}
