section#contact {
  background-color: var(--surface-900);
  display: grid;
  justify-content: center;
  justify-items: center;
  padding-top: 16px;
  padding-bottom: 32px;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  gap: 40px;

  .collaboration {
    width: 60px;
  }

  h2 {
    text-align: center;
    line-height: 1.2;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-decoration: none;
    font-size: 12px;

    li {
      .email-me {
        color: var(--surface-900);
        background-color: black;
        border-radius: 999px;
        padding: 8px 16px;
        text-decoration: none;
      }

      a.whatsapp {
        color: #1a1a1a;
        background-color: var(--surface-900);
        border-color: #424141;
        border-style: solid;
        border-width: 1px;
        border-radius: 999px;
        padding: 8px 16px;
        text-decoration: none;
      }
    }
  }
}
