:root {
  --surface-900: #ffffff;
  --surface-800: #f0f0f0;

  --color-body-foreground: #1a1a1a;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui;
}

body {
  background-color: var(--surface-800);
  color: var(--color-body-foreground);
}

.line {
  border-top: 1px solid black;
}
