:root{
    --surface-900: #ffffff;
    --sarface-800: #f0f0f0;
    --surface-700: #000000;
}
* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-family: system-ui;
}

body {
    background-color: #f0f0f0;

}

.line{
    border: 1px solid var(--surface-700);
}

