:root {
  --surface-900: #ffffff;
  --surface-800: #f0f0f0;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui;
}

body {
  background-color: var(--surface-800);
}

.line {
  border: 1px solid var(--surface-800);

  margin-left: 40px;
  margin-right: 40px;
}
