header {
  background-color: var(--surface-800) !important;

  z-index: 1;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 32px 64px;

  .contact {
    display: flex;
    align-items: center;
    gap: 16px;

    button {
      background-color: var(--surface-900);

      min-width: 64px;

      padding: 8px;

      border: none;
      border-radius: 999px;
    }

    .email-box {
      background-color: var(--surface-800) !important;

      display: flex;
      align-items: center;

      border-radius: 999px;

      .email {
        padding: 8px 16px;
      }

      button.copy {
      }
    }

    button.cv {
    }
  }

  nav {
    ul {
      list-style: none;

      display: flex;
      gap: 8px;

      li {
        a {
          color: inherit;

          text-decoration: none;
        }
      }

      .slash {
      }
    }
  }
}
